<%- include("templates/header") %>

        <link rel="stylesheet" href="/css/form.css">
        <link rel="stylesheet" href="/css/profile.css">
    </head>

    <body>
<%- include("templates/navbar") %>

            <div class="form-container">
                <div id="image-holder"><img src="./images/404.png" alt=""></div>
                <form class = "form" id="profile-form" method="post" action="updateProfile">
                <h2><%=information.user_name %></h2>

                <!-- category -->

                <label class="input-box" for="first_name"><input class="input-field" name='first_name' type='text' value='<%=information.first_name %>'></label>
               
                <label class="input-box" for="last_name"><input class="input-field" name='last_name' type='text' value='<%=information.last_name %>'></label>

                <label class="input-box" for="birthdate"><input class="input-field" name='birthdate' type='date' value='<%=information.birthdate %>'></label>

                <label class="input-box" for="email"><input class="input-field" name='email' type='text' value='<%=information.email %>'></label>
                
                <label class="input-box" for="phone"><input class="input-field" name=' user_name' type='text' value='<%=information.phone %>'></label>

                <label class="input-box" for="school_name"><input class="input-field" name='school_name' type='text' value='<%=information.school_name %>' readonly></label>

                <label class="input-box" for="insurance_company"><input class="input-field" name='insurance_company' type='text' value='<%=information.insurance_company %>' readonly></label>

                <label class="input-box" for="insurance_number"><input class="input-field" name='insurance_number' type='text' value='<%=information.insurance_number %>' readonly></label>

                <button class="submit-btn" type="submit">SUBMIT</button>
            </form>

                </div>
<%- include("templates/footer") %>