<%- include("templates/header") %>
    <!-- Login Page CSS -->
    <link rel="stylesheet" href="/css/form.css">
    </head>

    <body>
        <%- include("templates/navbar") %>
            <main>
                <div class="form-container">
                    <form action="/forgotPassword" method="post">

                        <h2>Forgot Password</h2>
                        <p class="explanation">Enter your email and we'll send you a link to reset password!</p>

                        <!-- Email Input -->
                        <div class="input-box">
                            <input class="input-field" name="email" type="email" id="email"
                                placeholder="name@example.com">
                        </div>

                        <!-- Error Message Display -->
                        <% if (msg && msg.type==='error' ) { %>
                            <p>
                                <%= msg.text %>
                            </p>
                            <% } %>
                                <!-- Success Message Display -->
                                <% if (msg && msg.type==='success' ) { %>
                                    <p>
                                        <%= msg.text %>
                                    </p>
                                    <% } %>
                                        <!-- Submit Button -->
                                        <button type="submit" class="submit-btn" id="submit-btn">Send Email</button>
                    </form>
                </div>
            </main>

            <%- include("templates/footer") %>