<!-- Sign Up Page Elements -->
<%- include("templates/header") %>

    <!-- Login Page CSS -->
        <link rel="stylesheet" href="/css/profile.css">
    </head>

    <body>
<%- include("templates/navbar") %>

        <div class="profile-container">
            <div id="image-holder"><img src="../public/images/Logo.png" alt=""></div>
            <h2><%=information.first_name %> <%=information.last_name %></h2>
            
            <div class="profile-info">
                
                <!-- category -->
                <label for="username">Username:<p><%=information.user_name %></p></label>
                                                
                <label for="birthdate">Birthdate:<p><%=information.birthdate.toISOString().split('T')[0] %></p></label>

                <label for="email">Email:<p><%=information.email %></p></label>

                <label for="phone">Phone:<p><%=information.phone %></p></label>

                <label for="school_name">School Name:<p><%=information.school_name %></p></label>

                <label for="insurance_company">Insurance Company:<p><%=information.insurance_company %></p></label>

                <label for="insurance_number">Insurance Number:<p><%=information.insurance_number %></p></label>

                <button class="submit-btn" type="button" onclick="window.location.href='editProfile'">EDIT</button>
            </div>
        </div>

<%- include("templates/footer") %>