<%- include("templates/header") %>

    <link rel="stylesheet" href="/css/form.css">
    </head>

    <body>
        <%- include("templates/navbar") %>

            <div class="form-container">
                <h2>Submit a Claim</h2>
                <!-- category -->
                <form class="form" action='/submitClaim' method='post'>
                    <label for="category" class="input-box">
                        <select class="input-field" name='category'>
                            <% categories.forEach(function(category) { %>
                                <option value="<%= category.category_id %>">
                                    <%= category.category_name %>
                                </option>
                                <% }) %>
                        </select>
                    </label>
                    <label for="amount" class="input-box">
                        <input type="number" placeholder="Amount" class="input-field" name="amount" />
                    </label>
                    <button class="submit-btn" onclick="location.href='/';">Submit</button>
                </form>
            </div>

<%- include("templates/footer") %>